.App {
  text-align: left;
  padding-top: 40px;
}

.row {
  display: flex;
}

.user-selections {
  background-color: #e9ecf5;
  padding-top: 40px;
  font-family: courier;
}

h1 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 30px;
}

a {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}

h1, h2, p, a {
  line-height: normal;
  margin: 0;
  padding: 0 0 10px 0;
}
